################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/videos/birthofmuse.mp4
/images/folio/gallery/g-tulips.jpg
/images/folio/gallery/g-turban.jpg
/images/folio/gallery/g-woodcraft.jpg
/images/folio/white_turban.jpg
/images/folio/white_turban@2x.jpg
/images/folio/woodcraft.jpg
/images/folio/woodcraft@2x.jpg
